@use './fonts.scss';
@use './normalize.scss';
@use './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic-Sans-MS-pixel', sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--red);
}

button {
  font-family: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  position: relative;
  width: 400px;
}
