:root {
  --white: #ffffff;
  --black: #000000;
  --red: #af4949;
  --light-blue: #2f6a95;

  --bg-primary: #e6e6e6;
  --text-secondary: #a0a4b8;
  --text-muted: #6f738a;

  --box-shadow: 0px 6px 0px hsl(358, 0%, 92%);
}
