:root {
  --white: #ffffff;
  --black: #000000;
  --red: #af4949;
  --blue: #2f6a95;
  --green: #2f9565;

  --primary: #e6e6e6;
  --secondary: #a0a4b8;
  --muted: #6f738a;

  --box-shadow: 0px 6px 0px hsl(358, 0%, 92%);
}
